
/* CONTACT */

#contact {
  height: 450px;
  width: 300px;
  background-color: rgb(188, 188, 188);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1000;
  border-radius: 10px;
  padding: 10px;
}

#contact button {
  background-color: rgb(183, 105, 255);
}

#contact > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

#contact form > * {
  height: 20px;
  border-radius: 5px;
  border-style: none;
  width: 100%;
}

#contact form > *:nth-child(5) {
  height: 150px;
  text-align: start;
}
